.form-tube{
    border-radius: 25px;
    height: 30px;
    width: 100%;
    border: 2px solid white;
    background-color: #0A192F;
    color: #38bdF8;
    


}
form{
    backdrop-filter: blur(10px);

}
.form-tube:hover{
    background: rgba(255, 255, 255, 0.4);
    transform: scale(1.05);
}
.form-tube::placeholder{
    color: #4FC3F7;
    text-align: center;
    font-weight: 700;
}
select{
    text-align: center;
    font-weight: 700;
    color: #4FC3F7;
}
button{
    color: #4FC3F7;
    font-weight: 700;
}