@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap" rel="stylesheet');

body,html,#root{
    margin: 0;
    padding: 0;
    margin-top: 0;
    height: 100%;
}

.loginbody{
    margin: 0;
    padding: 0;
    background-image: url("../assets/ChatGPT\ Image\ Feb\ 15\,\ 2026\,\ 01_44_55\ PM.png");
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family:'Libre Baskerville' , serif;
    font-weight: 700;
    letter-spacing: 2px;
    min-height: 100vh;
}

.heading{
    font-style: italic;
    text-align: center;
    font-size: 30px;
}

.login-box{
    margin-top: 150px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 290px;
    backdrop-filter: blur(15px);
    box-shadow: 0 8px 32px white;
    margin-left: 200px;
    margin-right: 200px;
    border-radius: 30px;
    background: rgba(120, 170, 140, 0.18);
    border: 1px solid rgba(255,255,255,0.3);
}

.login-box input{
    background: rgba(70, 110, 160, 0.65);
    margin: 5px;
    padding: 5px;
    height: 30px;
    width: 58%;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 25px;
    color: white;
    outline: none;
    
}
.login-box input::placeholder{
    color: #d4af37;
    font-style: italic;
}
.submit{
    padding: 3px;
    margin-top: 10px;
    width: 80px;
    height: 30px;
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.4); 
    color: #F075AE;
    background: linear-gradient(135deg, #d4af37, #f9e076);
    

}

.submit:hover{
    background: rgba(255, 255, 255, 0.4);
    transform: scale(1.15);
}

.login-box input:hover{
    background: rgba(255, 255, 255, 0.4);
    transform: scale(1.05);
}